<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

***Objectives: ***


*   List popular languages used by Data Scientists
*   List commonly used libraries
*   Create a table of Open Source Development Environment tools
*   List examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL
4.   Julia
5.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.   Matplotlib
4.   SciKit-Learn

| Data Science Tools |
| ------------------ |
|      VS Code       |
|      GitLab        |
|     Bootstrap      |

### Below are a few examples of evaluating arithmetic expressions in Python ###

5+5  

5-5  

5*5  

5/5  

5**5

In [ ]:
# This is a simple artithmetic expression to multiply and then add integers

(3*4)+5

17

In [ ]:
# This will convert 200 minutes into hours by dividing by 60

z= 200/60
print(z, "hours")

3.3333333333333335 hours

## Author ##
Joshna